In [1]:
% pwd

'C:\\Users\\hrshin'

In [2]:
% ls -la

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C41E-5161

 C:\Users\hrshin 디렉터리

파일을 찾을 수 없습니다.

In [6]:
#2장으로 일단 넘어가자
#제발 
#!/usr/bin/env pyhton3
import sys

input_file='supplier_data.csv'
output_file='real.csv'


with open(input_file,'r',newline='') as filereader:
    with open(output_file,'w',newline='') as filewriter:
        header=filereader.readline()
        header=header.strip()
        header_list=header.split(',')
        print(header_list)
        filewriter.write(','.join(map(str,header_list))+'\n')
        for row in filereader:
            row =row.strip()
            row_list=row.split(',')
            print(row_list)
            filewriter.write(','.join(map(str,row_list))+'\n')

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Z', '920-4803', '3321', '$615.00 ', '2002-03-14']
['Supplier Z', '920-4804', '3321', '$615.00 ', '2002-10-14']
['Supplier Z', '920-4805', '3321', '"$6', '015.00 "', '2/17/14']
['Supplier Z', '920-4806', '3321', '"$1', '006', '015.00 "', '2/24/14']

In [7]:
% ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C41E-5161

 C:\Users\hrshin 디렉터리

2018-01-09  오후 08:24    <DIR>          .
2018-01-09  오후 08:24    <DIR>          ..
2017-12-19  오후 10:54    <DIR>          .anaconda
2015-04-30  오후 01:12    <DIR>          .atom
2018-01-09  오후 08:27    <DIR>          .conda
2018-01-06  오후 05:28                43 .condarc
2018-01-08  오전 09:51               181 .gitconfig
2018-01-09  오후 07:27    <DIR>          .ipynb_checkpoints
2017-12-11  오후 11:55    <DIR>          .ipython
2017-12-19  오후 11:53    <DIR>          .jupyter
2017-12-19  오후 10:58    <DIR>          .matplotlib
2018-01-06  오후 08:39    <DIR>          .spyder-py3
2018-01-06  오후 08:22               682 1csv_read_with_simple_parsing_and_write.py
2018-01-06  오후 08:20            66,252 2017_first_script.ipynb
2018-01-09  오후 08:22            27,671 2018_second_script.ipynb
2018-01-06  오후 10:28               743 3csv_reader_value_meets_condition.py
2015-09-10  오전 11:10           205,824 8월_원천징수_150902_예진희님버전.xlsx
2017-12-20  오전 12:52    <DIR>          Anaconda3
2017-12-19  오후 11:41       539,829,832 Anaconda3-5.0.1-Windows-x86_64 (1).exe
2017-12-11  오후 11:32       539,829,832 Anaconda3-5.0.1-Windows-x86_64.exe
2017-11-05  오후 09:56    <DIR>          Contacts
2018-01-08  오전 09:48    <DIR>          Desktop
2018-01-02  오후 08:25    <DIR>          Documents
2018-01-06  오후 06:39    <DIR>          Downloads
2017-11-05  오후 09:56    <DIR>          Favorites
2018-01-06  오후 06:30               259 file_to_read.txt
2017-12-27  오후 10:37             1,414 first_script_20171227.py.ipynb
2016-11-03  오전 01:11    <DIR>          Google 드라이브
2017-11-05  오후 09:56    <DIR>          Links
2017-11-05  오후 09:56    <DIR>          Music
2015-09-10  오전 11:03        12,033,456 NATEON50.exe
2017-12-21  오전 12:19         1,434,504 NDP471-KB4033344-Web.exe
2017-11-05  오후 09:56    <DIR>          Pictures
2018-01-06  오후 06:26                 0 python
2017-12-20  오후 01:09        30,653,888 python-3.6.4 (1).exe
2017-12-20  오후 01:11        30,653,888 python-3.6.4 (2).exe
2017-12-19  오후 11:44        30,653,888 python-3.6.4.exe
2018-01-09  오후 08:27               584 real.csv
2017-11-05  오후 09:56    <DIR>          Saved Games
2017-11-05  오후 09:56    <DIR>          Searches
2017-12-21  오전 12:19        20,065,096 SourceTreeSetup-2.3.5.0.exe
2018-01-02  오후 08:22             2,529 study_180102.ipynb
2018-01-06  오후 09:04               597 supplier_data.csv
2018-01-09  오후 08:24               693 test.py
2018-01-09  오후 08:24               584 test_supplier.csv
2018-01-09  오후 07:29               581 Untitled.ipynb
2018-01-06  오후 08:21               682 untitled2.py
2017-11-05  오후 09:56    <DIR>          Videos
2017-12-14  오후 11:48            13,469 해외여행_준비물_체크리스트.xlsx
              26개 파일       1,205,477,172 바이트
              23개 디렉터리  37,927,436,288 바이트 남음

In [8]:
sys.argv[1]
sys.argv[2]

'C:\\Users\\hrshin\\AppData\\Roaming\\jupyter\\runtime\\kernel-cc411646-c450-49ca-818b-e0cd52cc1aee.json'

In [10]:
%pwd

'C:\\Users\\hrshin'

In [14]:
#2.2.2 팬더스
#팬더스로 오지 못할 뻔 했다.
#!/urs/bin/env python3
import sys
import pandas as pd
imput_file='supplier_data.csv'
output_file='real.csv'

data_frame=pd.read_csv(input_file)
print(data_frame)
data_frame.to_csv(output_file,index=False)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00     2002/3/14
7     Supplier Y        50-9505         6650  $125.00     2002/3/14
8     Supplier Z       920-4803         3321  $615.00     2002/3/14
9     Supplier Z       920-4804         3321  $615.00    2002/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [16]:
#2.3 기본 문자열 파싱이 실패하는 경우
#csv 파일에서 기본 문자열 파싱이 실패하는 경우
#마지막 두 행에 쉼표값이 포함되어 있으므로 파싱이 실패하게 된다.
#!/usr/bin/env pyhton3
import sys

input_file='supplier_data.csv'
output_file='real.csv'


with open(input_file,'r',newline='') as filereader:
    with open(output_file,'w',newline='') as filewriter:
        header=filereader.readline()
        header=header.strip()
        header_list=header.split(',')
        print(header_list)
        filewriter.write(','.join(map(str,header_list))+'\n')
        for row in filereader:
            row =row.strip()
            row_list=row.split(',')
            print(row_list)
            filewriter.write(','.join(map(str,row_list))+'\n')

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Z', '920-4803', '3321', '$615.00 ', '2002-03-14']
['Supplier Z', '920-4804', '3321', '$615.00 ', '2002-10-14']
['Supplier Z', '920-4805', '3321', '"$6', '015.00 "', '2/17/14']
['Supplier Z', '920-4806', '3321', '"$1', '006', '015.00 "', '2/24/14']

In [20]:
#2.4 CSV 파일 읽고 쓰기(파트2)
#2.4.1 기본 파이썬(csv모듈 사용)
#파이썬에 내장된 csv 모듈을 사용하여 데이터 값에 포함된 쉼표 및 기타 복잡한 패턴을 정확하게 처리할 수 있다.
#정규표현식 및 조건부 수식을 설계하는 것보다 훨씬 간단
#책에서는 명령 프롬프트로 설명하고 있는데 나는 쥬피터를 쓰고 있어서 이렇게 저렇게 바꿔서 해봐야한다.
#여기서는 마지막 줄에 print(row_list)를 추가했는데,for문 아래에 추가했을 때는 마지막 행 한줄만 결과가 나왔다. 왜지?!
#!/usr/bin/env pyhton3
import csv
import sys

input_file='supplier_data.csv'
output_file='real.csv'

with open(input_file,'r',newline='') as csv_in_file:
    with open(output_file,'w',newline='') as csv_out_file:
        filereader=csv.reader(csv_in_file,delimiter=',')
        filewriter=csv.writer(csv_out_file,delimiter=',')
        for row_list in filereader:
            filewriter.writerow(row_list)
            print(row_list)

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00 ', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00 ', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Y', '50-9505', '6650', '$125.00 ', '2002-03-14']
['Supplier Z', '920-4803', '3321', '$615.00 ', '2002-03-14']
['Supplier Z', '920-4804', '3321', '$615.00 ', '2002-10-14']
['Supplier Z', '920-4805', '3321', '$6,015.00 ', '2/17/14']
['Supplier Z', '920-4806', '3321', '$1,006,015.00 ', '2/24/14']

In [ ]:
#2.5 특정 행을 필터링하기
#분석해야하는 파일에 필요한 것보다 많은 행이 포함되어 있는 경우가 있는데 쓸데없는 행들을 쳐내서 필터링할 수 있는 방법을 배워본다.
##1특정 조건을 충족하는 행을 필터링하기
##2특정 집합의 값을 포함하는 행을 필터링하기
##3정규 표현식을 활용해 필터링하기
# ***으로 둘러싸인 라인들을 수정하여 특정 비즨스 규칙을 적용하고 필요한 행을 추출하는 방법을 알아본다.
for row in filereader:
    ***if 행에 있는 값이 특정한 규칙(들)을 충족한다면***
    이러이러한 일을 한다.
    else:
        아니면 뭔가 다른 일을 한다.

In [32]:
#2.5.1 특정 조건을 충족하는 행의 필터링
#Supplier Name이 Supplier Z이거나 또는 Cost가 $600.00이상인 행만 필터링하고 그 결과를 출력 파일에 기록할 것이다.
#동일여부를 평가하는데 등호== 2개 쓰는 것 기억할것
#!/usr/bin/env python3
import csv
import sys

input_file='supplier_data.csv'
output_file='real.csv'

with open(input_file,'r',newline='')as csv_in_file:
    with open(output_file,'w',newline='')as csv_out_file:
        filereader=csv.reader(csv_in_file)
        filewriter=csv.writer(csv_out_file)
        header=next(filereader)
        filewriter.writerow(header)
        for row_list in filereader:
            supplier=str(row_list[0]).strip()
            cost=str(row_list[3]).strip('$').replace(',','')
            if supplier =='Supplier Z' or float(cost)>600.0:
                filewriter.writerow(row_list)

IndexError: list index out of range

In [40]:
#팬더스
#팬더스는 특정 행과 열을 동시에 선택할 수 있는 loc()함수를 제공한다.
#쉼표를 기준으로 앞에는 행을 필터링하는 조건을 지정하고, 뒤에는 열을 필터링하는 조건을 지정
#!/usr/bin/env python3
import pandas as pd
import sys

input_file='supplier_data.csv'
output_file='real.csv'

data_frame=pd.read_csv(input_file)

data_frame['Cost']=data_frame['Cost'].str.strip('$')
data_frame['Cost']=data_frame['Cost'].replace(",","")
# .astype(float)
# data_frame_value_meets_condition=data_frame.loc[(data_frame['Supplier Name'].str.contains('Z'))|(data_frame['Cost']>600.0),:]
# data_frame_values_meets_condition.to_csv(output_file,index=False)
print(output_file)

real.csv

In [41]:
data_frame

   Supplier Name Invoice Number  Part Number      Cost Purchase Date
0     Supplier X       001-1001         2341   500.00        1/20/14
1     Supplier X       001-1001         2341   500.00        1/20/14
2     Supplier X       001-1001         5467   750.00        1/20/14
3     Supplier X       001-1001         5467   750.00        1/20/14
4     Supplier Y        50-9501         7009   250.00        1/30/14
5     Supplier Y        50-9501         7009   250.00        1/30/14
6     Supplier Y        50-9505         6650   125.00     2002-03-14
7     Supplier Y        50-9505         6650   125.00     2002-03-14
8     Supplier Z       920-4803         3321   615.00     2002-03-14
9     Supplier Z       920-4804         3321   615.00     2002-10-14
10    Supplier Z       920-4805         3321  6,015.00       2/17/14

In [31]:
float('6015.00 ')

6015.0

In [18]:
data_frame['Cost'].str.strip('$').

0           500.00
1           500.00
2           750.00
3           750.00
4           250.00
5           250.00
6           125.00
7           125.00
8           615.00
9           615.00
10        6,015.00
11    1,006,015.00
Name: Cost, dtype: object

In [9]:
data_frame

   Supplier Name Invoice Number  Part Number            Cost Purchase Date
0     Supplier X       001-1001         2341        $500.00        1/20/14
1     Supplier X       001-1001         2341        $500.00        1/20/14
2     Supplier X       001-1001         5467        $750.00        1/20/14
3     Supplier X       001-1001         5467        $750.00        1/20/14
4     Supplier Y        50-9501         7009        $250.00        1/30/14
5     Supplier Y        50-9501         7009        $250.00        1/30/14
6     Supplier Y        50-9505         6650        $125.00     2002-03-14
7     Supplier Y        50-9505         6650        $125.00     2002-03-14
8     Supplier Z       920-4803         3321        $615.00     2002-03-14
9     Supplier Z       920-4804         3321        $615.00     2002-10-14
10    Supplier Z       920-4805         3321      $6,015.00        2/17/14
11    Supplier Z       920-4806         3321  $1,006,015.00        2/24/14